---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";


---

<Layout title="Datenschutz">
  <Sectionhead>
    <Fragment slot="title">Datenschutz</Fragment>
    <Fragment slot="desc"
      >Mag. Martina Märzinger Wirtschaftstreuhand - Steuerberatung GmbH</Fragment
    >
  </Sectionhead>
  
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <!-- <h2 class="font-bold text-3xl text-gray-800">
        Empowering the world with Astro.
      </h2>-->
      <p class="leading-relaxed">
        Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In dieser Datenschutzerklärung informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer Website.</p>
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Kontakt mit uns / Name und Kontaktdaten des für die Verarbeitung Verantwortlichen</h3>
      <p class="leading-relaxed">
        Losgestartet mit nur einer Mitarbeiterin ist die Kanzlei rasch gewachsen und beschäftigt zur Zeit 20 Mitarbeiter/innen in den Bereichen Buchhaltung, Lohnverrechnung, Bilanzierung, steuerliche und betriebswirtschaftliche Beratung, Jungunternehmerbetreuung und Sanierungsberatung. 2005 wurde die Einzelfirma in die neu gegründete Mag. Martina Märzinger Wirtschaftstreuhand – Steuerberatung GmbH eingebracht. 
      </p>
      <p class="font-bold leading-relaxed">
        Verantwortlicher im Sinne der DSGVO ist:</p>
      <p class="leading-relaxed">
        Mag. Martina Märzinger Wirtschaftstreuhand - Steuerberatung GmbH</br>
        Bauernstraße 9, A-4600 Wels</p>
      <p class="leading-relaxed">
        Sie erreichen uns unter unserer zuvor genannten Firmenanschrift sowie per E-Mail unter <a class="text-ci-color-1" href="mailto:kanzlei@maerzinger.at">kanzlei@maerzinger.at</a>.
      </p>  
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Datenerhebung bei Kontaktaufnahme</h3>
      <p class="leading-relaxed">
        Wenn Sie schriftlich, telefonisch, über das Formular auf unserer Website oder per E-Mail mit uns Kontakt aufnehmen, werden Ihre angegebenen Daten zum Zwecke der Bearbeitung Ihrer Anfrage und für den Fall von Anschlussfragen für die Dauer der gesetzlichen Aufbewahrungsfrist bei uns gespeichert. Diese Daten geben wir ohne Ihre Einwilligung nicht an Dritte weiter.
      </p>  
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Datenerhebung bei Anmeldung für unseren Newsletter</h3>
      <p class="leading-relaxed">
        Sie haben die Möglichkeit, über unsere Website unseren Newsletter zu abonnieren. Mit diesem übermitteln wir Ihnen steuerliche Fachinformationen, Informationen über unsere Veranstaltungen und über unsere Produkt- und Leistungsangebote sowie allgemeine Informationen über unseren Kanzleibetrieb (wie beispielsweise Erreichbarkeit, Weihnachtsöffnungszeiten, Übersiedlungen, Betriebsurlaube, personelle Veränderungen, etc). Hierfür benötigen wir Ihren Namen, Ihre Firma, Ihre E-Mail-Adresse und Ihre Erklärung, dass Sie mit dem Bezug des Newsletters einverstanden sind.
      </p>  
      <p class="leading-relaxed">
        Sobald Sie sich für den Newsletter angemeldet haben, senden wir Ihnen ein Bestätigungs-E-Mail mit einem Link zur Bestätigung der Anmeldung.
      </p>
      <p class="leading-relaxed">
        Selbstverständlich können Sie die von Ihnen erteilte Zustimmung zum Erhalt des Newsletters jederzeit per E-Mail an die o.g. E-Mail-Adresse, postalisch an die o.g. Postanschrift oder über den am Ende eines jeden Newsletters angeführten Abmeldelink ohne Angabe von Gründen widerrufen.
      </p>
      <p class="leading-relaxed">
        Der Versand des Newsletters erfolgt über die Klier, Krenn & Partner Klienten-Info GmbH (Döblinger Hauptstraße 56/4, 1190 Wien). Ihre zuvor genannten Daten werden von der Klier, Klier, Krenn & Partner Klienten-Info GmbH auf den Servern der Host Europe GmbH (HRB 28495, Amtsgericht Köln; Hansestraße 111, D-51149 Köln) mit Sitz in Deutschland gespeichert. Zur Gewährleistung der Sicherheit Ihrer Daten haben wir einen Auftragsverarbeitervertrag mit der Klier, Krenn & Partner Klienten-Info GmbH abgeschlossen und uns über die ergriffenen technischen und organisatorischen Maßnahmen informiert.
      </p>
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Cookies</h3>
      <p class="leading-relaxed">
        Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an.
      </p>
      <p class="leading-relaxed">
        Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
      </p>
      <p class="leading-relaxed">
        Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben.
      </p>
      <p class="leading-relaxed">
        Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.
      </p>
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Webhoster / Provider</h3>
      <p class="leading-relaxed">
        Der Webspace-Provider speichert Daten über jeden Zugriff auf die Website (in sogenannten Serverlogfiles). Zu diesen Daten gehören: Name der Website, Meldung über den Aufruf, Browsertyp, Betriebssystem, Referrer-URL (zuvor besuchte Website), IP Adresse und der an-fragende Provider. Diese Daten werden nur für statistische Zwecke aufgezeichnet und diesen zur Optimierung der Sicherheit des Hostingsystems.
      </p>
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Google Maps</h3>
      <p class="leading-relaxed">
        Diese Webseite verwendet Google Maps für die Darstellung von Karteninformationen. Bei der Nutzung von Google Maps werden von Google auch Daten über die Nutzung der Maps-Funktionen durch Besucher der Webseiten erhoben, verarbeitet und genutzt. Nähere Infor-mationen über die Datenverarbeitung durch Google können Sie den Datenschutzhinweisen von Google auf Google Datenschutzerklärung & Nutzungsbedingungen entnehmen. Dort können Sie im Datenschutzcenter auch Ihre Einstellungen verändern, so dass Sie Ihre Daten verwalten und schützen können.
      </p>
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Dauer der Datenspeicherung</h3>
      <p class="leading-relaxed">
        Die Nutzerdaten werden für die Dauer der gesetzlichen Aufbewahrungsfrist gespeichert und aufbewahrt. Nach Ablauf der Frist werden die entsprechenden Daten routinemäßig gelöscht, sofern sie nicht mehr zur Vertragserfüllung oder Vertragsanbahnung erforderlich sind.
      </p>
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Aktualisierung der Bestimmungen</h3>
      <p class="leading-relaxed">
        Wir behalten uns das Recht vor, diese Bestimmungen jederzeit entsprechend den Geschäftserfordernissen zu ändern.
      </p>
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Ihre Rechte</h3>
      <p class="leading-relaxed">
        Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, so bitte wir Sie mit uns Kontakt aufzunehmen, um allfällige Fragen aufklären zu können. Sie können sich selbstverständlich auch bei der Aufsichtsbehörde beschweren. In Österreich ist dies die Datenschutzbehörde.
      </p>
      <p class="leading-relaxed">
        Selbstverständlich stehen wir Ihnen gerne jederzeit für Auskünfte zum Datenschutz auf unserer Website zur Verfügung.
      </p>

    </div>
    <p></p>
   
  </Container>
</Layout>
