---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";


---

<Layout title="Disclaimer - Haftungsausschluss">
  <Sectionhead>
    <Fragment slot="title">Disclaimer - Haftungsausschluss</Fragment>
    <Fragment slot="desc"
      >Mag. Martina Märzinger Wirtschaftstreuhand - Steuerberatung GmbH</Fragment
    >
  </Sectionhead>
  
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Disclaimer - Haftungsausschluss</h3>
      <p class="leading-relaxed">
        Der Autor dieser Webseiten ist bestrebt, die hier angebotenen Informationen nach bestem Wissen und Gewissen vollständig und richtig darzustellen und aktuell zu halten. Dennoch kann er keinerlei Haftung für Schäden übernehmen, die sich aus der Nutzung der angebotenen Informationen ergeben können – auch wenn diese auf die Nutzung von allenfalls unvollständigen bzw. fehlerhaften Informationen zurückzuführen sind.
Verweise auf fremde Webseiten liegen außerhalb des Verantwortungsbereiches des Autors. Eine Haftung für die Inhalte von verlinkten Seiten ist ausgeschlossen, zumal der Autor keinen Einfluss auf Inhalte wie Gestaltung von gelinkten Seiten hat. Für Inhalte von Seiten, auf welche von Seiten dieser Homepage verwiesen wird, haftet somit allein der Anbieter dieser fremden Webseiten – niemals jedoch derjenige, der durch einen Link auf fremde Publikationen und Inhalte verweist. Sollten gelinkte Seiten (insbesondere durch Veränderung der Inhalte nach dem Setzen des Links) illegale, fehlerhafte, unvollständige, beleidigende oder sittenwidrige Informationen beinhalten und wird der Autor dieser Seite auf derartige Inhalte von gelinkten Seiten aufmerksam (gemacht), so wird er einen Link auf derartige Seiten unverzüglich unterbinden.
      </p>
     
    
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Urheberrecht</h3>
      <p class="leading-relaxed">
        Der Inhalt der vom Autor selbst erstellten Inhalte dieser Seiten ist urheberrechtlich geschützt. Jede den Bestimmungen des Urheberrechtsgesetzes widersprechende Verwendung jeglicher Inhalte dieser Webseiten – insbesondere die weitergehende Nutzung wie beispielsweise die Veröffentlichung, Vervielfältigung und jede Form von gewerblicher Nutzung sowie die Weitergabe an Dritte – auch in Teilen oder in überarbeiteter Form – ohne ausdrückliche Zustimmung des Autors ist untersagt. Davon ausgenommen sind ausdrücklich zum Download gekennzeichnete Dateien. </p>  
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Informationsinhalt</h3>
      <p class="leading-relaxed">
        Die Informationen dieser Webseiten können ohne vorherige Ankündigung geändert, entfernt oder ergänzt werden. Der Autor kann daher keine Garantie für die Korrektheit, Vollständigkeit oder Qualität und letzte Aktualität der bereitgestellten Informationen geben. </p>  
      
      <h3 class="text-2xl tracking-normal font-bold leading-normal">Rechtswirksamkeit</h3>
      <p class="leading-relaxed">
        Durch Nutzung dieser Webseiten unterliegt der Nutzer den gegenständlichen Benützungsbedingungen. Diese sind Teil des WWW-Angebotes. Sofern Teile oder einzelne Formulierungen der Benützungsbedingungen der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile der Benützungsbedingungen in ihrem Inhalt und ihrer Gültigkeit davon unberührt. </p>
      

    </div>

   
  </Container>
</Layout>
