---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="Impressum">
  <Sectionhead>
    <Fragment slot="title">Impressum</Fragment>
    <Fragment slot="desc"
      >Mag. Martina Märzinger Wirtschaftstreuhand - Steuerberatung GmbH</Fragment
    >
  </Sectionhead>
  
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">Kontaktdaten</h3>
      <p class="leading-relaxed text-center">A: Bauernstraße 9, A-4600 Wels<br>T: +43 - 7242 353 88<br>
        F: +43 - 7242 353 88 - 15 0<br>
        E: kanzlei@maerzinger.at</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">Kammer</h3>
      <p class="leading-relaxed text-center">Mitglied der Kammer der Wirtschaftstreuhänder</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">WT Code</h3>
      <p class="leading-relaxed text-center">804209</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">Firmenbuch</h3>
      <p class="leading-relaxed text-center">FN 273771 f</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">Firmenbuchgericht</h3>
      <p class="leading-relaxed text-center">Landesgericht Wels</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">DVR</h3>
      <p class="leading-relaxed text-center">1007441</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">UID</h3>
      <p class="leading-relaxed text-center">ATU 62232024</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">Internet</h3>
      <p class="leading-relaxed text-center">https://www.maerzinger.at</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">Haftung</h3>
      <p class="leading-relaxed text-center">ATU35928804</p>
      <h3 class="text-xl mb-0 text-center tracking-normal font-bold leading-normal">Allgemeine Auftragsbedingungen</h3>
      <p class="leading-relaxed text-center">Die allgmeinen Auftragsbedingungen für Wirtschaftstreuhänder entnehmen Sie bitte folgenden Link:<br><a class="text-ci-color-1" href="https://www.ksw.or.at/PortalData/1/Resources/aab/AAB_2018_de.pdf" target="_blank">Allgemeine Auftragsbedingungen</a></p>
      <p class="leading-relaxed text-center">Alle Rechte vorbehalten.<br> © Mag. Martina Märzinger Wirtschaftstreuhand - Steuerberatung GmbH</p>

    </div>
    <p></p>
   
  </Container>
</Layout>
