---
import Link from "@components/ui/link.astro";
import Gutschein from "@components/gutschein.astro";
import Joblist from "@components/joblist.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-20 pb-8 md:pt-20 md:pb-30">
  <div class="py-6 md:order-1 hidden md:block">
    <Gutschein />
    <wbr />
    <wbr />
    <Joblist />
  </div>
  <div>
    <h1
      class="text-ci-color-1 text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Das Team der Kanzlei Märzinger<wbr />heißt sie willkommen!
    </h1>
    <wbr />
    <h2
      class="text-ci-color-2 text-xl lg:text-2xl xl:text-3xl font-normal lg:tracking-tight xl:tracking-tighter">
      Ihr Wohl steht für uns an erster Stelle.
    </h2>
    <wbr />
    <p class="text-ci-color-2 text-lg max-w-xl">
      Die Abwicklung unserer Standardaufgaben, wie Buchhaltung, Lohnverrechnung, Jahresabschlüsse und Erstellung der Steuererklärungen sehen wir als Selbstverständlichkeit. Alle darüber hinausgehenden Aufgaben als Herausforderung, die wir gemeinsam mit Ihnen bestmöglich gestalten und abwickeln wollen. 
    </p>
    <wbr />
    <h2
      class="text-ci-color-2 text-xl lg:text-2xl xl:text-3xl font-normal lg:tracking-tight xl:tracking-tighter">
      Wir betreuen Sie mit großer Freude effizient, schnell und zuverlässig.
    </h2>
    <wbr />
    <p class=" text-ci-color-2 text-lg max-w-xl">
      Fachkenntnis auf höchstem Niveau, langjährige Erfahrung und Einfühlungsvermögen im partnerschaftlichen Zusammenwirken mit Ihnen betrachten wir als unsere größte Stärke. 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/kanzlei/team"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Team
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/leistungen"
        class="flex gap-1 items-center justify-center"
        >
        <!--<Icon class="text-black w-4 h-4" name="bx:bxs-caret-right" />-->
        Leistungen
      </Link>
    </div>
  </div>
</main>
