---
import heroImage from "assets/header-northfolk-unsplash.jpg";
---
<div class="w-full hero-section bg-hero-pattern"></div>


<style>
  .hero-section { 
      background-size: cover;
      height: 568px;
      background-position: center;
  }
</style>
