---
import Container from "@components/container.astro";
import { getFormattedDate } from "@utils/all";
import { log } from "astro/dist/core/logger/core";
import Layout from "./Layout.astro";
import Sectionhead from "@components/sectionhead.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Sectionhead>
    <Fragment slot="title">{frontmatter.title}</Fragment>
    <Fragment slot="desc"></Fragment>
  </Sectionhead>
  <Container>

    <div class="leading-6 mx-auto max-w-[735px] prose mt-12">
      <slot />
    </div>
    <div class="text-center mt-8">
      <a
        href="/leistungen"
        class="bg-ci-color-1 px-5 py-3 text-white rounded-md hover:bg-ci-color-2 transition"
        >← Zurück zu Leistungen</a
      >
    </div>
  </Container>
</Layout>
